

.main {
  display: flex;
  flex-direction: column;
}

.chordSequence {
  display: flex;
  flex-direction: row;
}

.scales {
  display: flex;
  flex-direction: row;
}

.fretboard {
  display: flex;
  flex-direction: row;
}