

.chords {
  display: flex;
  flex-direction: row;
  margin: 20px;
  /* border: 3px solid; */
  width: 700px;
  overflow-x: scroll;
  scrollbar-height: thin;

}

.chordNav {
  display: flex;
  flex-direction: row;
  margin: 20px;
  /* border: 3px solid; */
}

.chord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  /* padding: 1em; */
  /* border: 3px solid; */
  background-color: #212121;
  border-radius: 5px;
  height: 400px;
  margin: 20px;
  width: 30%;

  /* max-width: 10rem;
  min-width: 10rem; */
  width: 10rem;
}

.selected {
  background-color: darkgoldenrod;
  
}



.chordButton {
  all: none;
  border-radius:50%;
  height: 50px;
  width: 50px;
}

.chordButtons {
  transform: scale(0);
}

.chord:hover .chordButtons{
  transform: scale(1);
}

.canvas {
    
  width: 4rem;
  border: 3px solid;
  margin: 1em;
}
