
.container {
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  margin: 3rem;
}

.editor {
   display: flex;
  flex-direction: row;
}

.fretboardEditor {
  display: flex;
  flex-direction: column;
}